<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование Категории</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>

<!-- Включение хедера -->
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h1 class="text-center">Редактирование Категории</h1>
    <form th:action="@{/admin/editCategory/{id}(id=${category.id})}" method="post">
        <div class="form-group">
            <label for="categoryName">Название категории</label>
            <input type="text" id="categoryName" name="categoryName" class="form-control" th:value="${category.categoryName}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="/admin/home" class="btn btn-secondary">Назад</a>
    </form>
</div>

<footer>
    <div class="container">
        <p>Контактная информация: +375447860021</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
